<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Mobile Tour Request </h1>
    <p>
        <b>Tour Requested : </b> <%= @customer.tour_name %><br/>
        <b>Tour Date Requested : </b> <%= @customer.tour_date %><br/>
        <b>Client's email : </b> <%= @customer.email %><br/>
    </p>
    <p><small>Request made at <%= @customer.created_at%></small></p>
  </body>
</html>