<div data-role="content">

  <ul data-role="listview">
  	<body>
			<p>Choose your type of adventure below :</p>
		</body>
		<li><%= link_to "Active Adventures", "../active" %></li>
		<li><%= link_to "Cultural and Leisure", "../relax" %></li>
	</ul>
</div>