<div data-role="header">
  <h1>CHUKKA - MOBILE</h1>

</div>

<div data-role="content">
  <ul data-role="listview">
		<li><%= link_to "Jamaica", "../jamaica" %></li>
		<li><%= link_to "Belize", "belize" %></li>
	<li><%= link_to "Turks", "turks" %></li>
	</ul>
</div>