<div data-role="content">
  <ul data-role="listview">
     
  <!-- twitter --> 
<a href="https://twitter.com/chukkacaribbean" class="twitter-follow-button" data-show-count="false">Follow @chukkacaribbean</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <!-- end twitter -->

    <!-- fb -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=221866394490331";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- end fb -->

    <div id = "slider">
      <ul>
        <li style = 'display:block'><a href="../excursions/19"><img src="http://chukkacaribbean.com/mobile/slider/Adv%20Pass.jpg", width="80%"></a></li>
        <li style = 'display:none'><a href="../excursions/20"><img src="http://chukkacaribbean.com/mobile/slider/Her%20Pass.jpg", width="80%"></li></a>
        <li style = 'display:none'><a href="http://www.tripadvisor.com/Attraction_Review-g147311-d657317-Reviews-Chukka_Caribbean_Adventures-Montego_Bay_Jamaica.html"><img src="http://chukkacaribbean.com/mobile/slider/tripExcellence.png", width="65%"></a></li>
        



      </ul>
    </div>

    <li>
      <%= link_to "Tours", tours_show_path %>
    </li>

    <% @posts.each do |post| %>

    <li>
      <%= link_to post.title, post %>

      <%#= link_to 'edit post', edit_post_path(post), "data-icon" => "gear" %>
    </li>
    <% end %>
   
  </ul>
</div>

<script type="text/javascript">
window.mySwipe = new Swipe(document.getElementById('slider'), {
    startSlide: 0,
    speed: 2500,
    auto: 3500,
    callback: function(event, index, elem) {

    // do something cool

    }
});

</script>

