<div data-role="content">
  <ul data-role="listview">
     
    <div id = "slider">
      <ul>
        <li style = 'display:block'><img src="http://placehold.it/200x100"></li>
        <li style = 'display:none'><img src="http://placehold.it/200x100"></li>
        <li style = 'display:none'><img src="http://placehold.it/200x100"></li>
      </ul>
    </div>

    <li>
      <%= link_to "Tours", tours_show_path %>
    </li>

    <% @posts.each do |post| %>

    <li>
      <%= link_to post.title, post %>
      <%= link_to 'edit post', edit_post_path(post), "data-icon" => "gear" %>
    </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
window.mySwipe = new Swipe(document.getElementById('slider'), {
    startSlide: 0,
    speed: 2000,
    auto: 3000,
    callback: function(event, index, elem) {

      // do something cool

    }
});

</script>

