// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider{
	
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:justify;
}

h4 {
	text-align:center;
}
