 <div data-role="content">
	<ul data-role="listview">
		<% @excursions.each do |excursion| %>
			<li> <%=link_to excursion.name, excursion_path(excursion.id) %></li>

			<!-- <a href ="excursions/<%=excursion.id%>"> GAZA </a> -->
		<% end %>
	</ul>
</div>



