<div class="ui-bar ui-bar-b">
	<h4 style= "text-align:center;" >Cultural & Leisure</h4>
</div>
 <div data-role="content">
	<ul data-role="listview">
		<% @excursions.each do |excursion| %>
			<li> <%=link_to excursion.name, excursion_path(excursion.id) %></li>

			<!-- <a href ="excursions/<%=excursion.id%>"> GAZA </a> -->
		<% end %>
	</ul>
</div>



