<div data-role="header" data-add-back-btn="true">

  <%= link_to 'Home', posts_url, "class" => "ui-btn-right" %>
  <%= link_to 'Back', tours_show_path, "class" => "ui-btn-left" %>
</div>
 
<div data-role="content">
	<ul data-role="listview">
		<% @excursions.each do |excursion| %>
			<li> <%=link_to excursion.name, excursion_path(excursion.id) %></li>

			<!-- <a href ="excursions/<%=excursion.id%>"> GAZA </a> -->
		<% end %>
	</ul>
</div>



